html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Source Code Pro", monospace;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.row-center-justify {
  display: flex;
  justify-content: center;
}

.center-align {
  display: flex;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.arrow-btn {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 9px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#arrow-top {
  padding-top: -250px;
  animation: bounce 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}



@-webkit-keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 40px, 0);
  }
}

/* Navigatin VVVV */

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.nav-btn {
  padding-right: 40px;
  display: flex;
  align-items: center;
  
}

#contact-btn {
  padding-right: 60px;
}

#logo-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

#logo {
  padding-top: 20px;
  padding-left: 60px;
  width: 100px;
  height: 100px;
}

#nav-container {
  display: flex;
  flex-direction: row;
}

/* Navigatin ^^^^ */

/* Landing VVVVV */
#landing-page {
  width: 100%;
  padding-top: 225px;
  padding-bottom: 200px;
}

/* Landing ^^^^^ */

/* About Me VVVVV */

#about-container {
  height: 660px;
  background-color:  #f5f5f5;
}

#about-section {
  display: flex;
  align-items: center;
}

#profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.about-box {
  padding-top: 25px;
  padding-left: 100px;
}
#about-text {
  width: 600px;
}


/* About Me ^^^^^ */

/* Projects VVVVV */

.header {
  padding-top: 100px;
  color: #e78200;
  /* padding-bottom: 20px; */
}

#portfolio-section {
  /* background-color: #f5f5f5; */
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 100px;
  /* margin-top: 300px; */
}

.project {
  width: 307px;
  height: 392px;
  margin: 21px;
  border: solid 1px;
}

.project-container {
  padding-top: 20px;
  width: 100%;
}

/* Projects ^^^^^ */



/* Contact VVVVV */

#contact-section {
  width: 100%;
  background-color: #f5f5f5;
  height: 670px;
}


.githubBtn {
  background-color: #f5f5f5;
}

.fa-linkedin-in {
  color: #76c3cc;
  font-size: 40px;
  padding-top: 30px;
  padding-right: 50px;
}

.fa-github {
color: #76c3cc;
font-size: 40px;
padding-top: 30px;
padding-left: 50px;
}

#linkForm{
  color: #D6FFF6;
  text-emphasis: none;
}
/* Contact ^^^^^ */


@media only screen and (min-height: 769px) {
  #about-section {
    margin-top: 200px;
  }
}